#title {
  background-color: #051440;
  color: #fcfcfc;
}

#footer {
  margin-top: 80px;
  margin-bottom: 80px;
  text-align: center;
}

#testimonials {
  background-color: #025dab;
  color: #fcfcfc;
  z-index: 100;
}

#learn-more {
   background-color: #051440;
   background: url(../images/background_img_1.png) no-repeat center center local;
}

#devices {
  background: url(../images/background_img_2.png) no-repeat center center local;
}

/* Font stuff */
a, h1, h2, h3, h4, h5, h6, body, em {
  font-family: 'Montserrat';
  font-weight: bolder;
}



/* Navbar stuff */

.nav-item {
  padding: 0 8;
}

/* Footer Stuff. This stuff can easily be cut out and replaced with something more appropriate. */

.softbir-logo {
  max-height: 60px;
  margin: auto auto 20px;
}

.copyright-text {
  color: #8f8f8f;
}

/* Margin and padding stuff */

.margin-auto {
  margin: auto;
}

.margin-auto-center-vert {
  margin: 0 auto 0 auto;
}

.padding-80px {
  padding-bottom: 40px;
  padding-top: 40px;
}

.padding-40px-top {
  padding-top: 40px;
}

.padding-40px-bottom {
  padding-bottom: 40px;
}

/* Fixes a small visual bug where the 'Learn More' button would throw off the margins of the other navbar items */
.padding-7px-top {
  padding-top: 7px;
}

/* Generic class to force centering in cases where it's needed. */

.testimonial-margin {
  margin: auto;
  width: 70%;

}

/* Two classes to make the images circular. Images can be pre-cropped to remove these classes. */
.testimonial-img {
  border-radius: 100%;
  width: 60px;
  margin: 20px 20px 20px 20px;
}

.background-img {
  width: 100%;
  position: absolute;
}

.device-img {
  max-width: 70%;
}

/* This is for video resizing on mobile and tablet devices */
@media screen and (max-width: 560px) {
  .video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .video-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.logo {
  width: 230px;
}

.body-container {
  margin-bottom: 40px;
}

.separator {
  height: 3px;
  width: 30%;
  background-color: #eb1c53;
  margin: 20px 20px 20px 0;
}

.separator-center {
  height: 3px;
  width: 30%;
  background-color: #eb1c53;
  margin: 20px auto 20px auto;
}

.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='ffffff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
